.aboutSearch {
  border: 1px solid rgb(123, 118, 118);
  background-color: rgb(247, 241, 230);
  color: rgb(34, 103, 122);
  font-weight: 600;

  display: flex;
  width: 75%;
  height: 100px;
  padding: 1%;
  margin: auto;
  margin-top: 5%;
  border-radius: 10px;
  text-align: center;

}

.aboutTxt {
  margin: auto;
  color: rgb(72, 50, 22);
  overflow-x: auto;
  white-space: pre-line;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  max-height: 78px;
}


.active,
.wordsContainer:hover {
  background-color: rgb(223, 218, 208);
}

.wordsContainer {
  border: 1px solid rgb(123, 118, 118);
  background-color: rgb(247, 241, 230);

  /* color: rgb(34, 103, 122);*/
  color: rgb(72, 50, 22);
  font-weight: 600;

  width: 75%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
  text-align: center;
}

.collapseExpand {

  display: inline;
  /* better if we could use flex, but for not it messes with the collapsible */
  float: right;
  padding-right: 5px;
  /*font-size:20px;*/
}

.wordsContent {

  background-color: rgb(247, 241, 230);
  overflow: hidden;
  border-radius: 10px;
}


.fileList {
  margin: 30px;
  width: 30%;
  min-width: 200px;
  max-height: 325px;
  overflow: auto;
}

.fileReader {
  border: 1px solid rgb(130, 124, 97);
  border-radius: 10px;
  padding: 5px;
  background-color: aliceblue;
  min-width: 400px;
  margin: 5%;
  overflow: auto;
  max-height: 600px;
}

.fileButton {
  background-color: white;
  border: none;
}

.fileButton:hover {
  color: brown;
}

.files {
  display: inline-flex;
}

.style {
  margin-top: 15px;
  background-color: rgb(255, 253, 250);
  color: rgb(72, 50, 22);
  width: 100%
}

.header {
  height: 4vh;
}

.textCont {
  white-space: pre-wrap;
}

mark {
  background-color: rgba(251, 243, 10, 0.745);
}


.scrollBtn {
  width: 150px;
}

.downloadButton {
background-color: green;
}

.deleteButton {
background-color: rgba(179, 32, 32, 0.967);
float: right;
}