.source-sans {
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
}

.text-grey {
  color: #58585B;
}

.text-white {
  color: white;
}

.text-bold {
	font-weight: 700;
}

.text-lightwt {
	font-weight: 200;
}

